
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" >
        
            <img>
            <div class="form">
                <h1 class="heading">login </h1>
                <p>marahbe bikom fi sehla mehla</p> <br><br>
                
                <label>l mail mte3ek : <input type="mail" class="input" placeholder="abcd@gmail.com"  name="email"></label><br>
                
                <label> mot de passe mte3ek: <input type="password" class="input" placeholder="*****"  name="pass" > </label><br>
                
                <button type="submit" class="login-button" >connecti</button>
                <input type="button" value="asna3 compte" class="login-button" >
                <input type="button"  value="nsit l mot de passe?" class="login-button" >
            </div>
        
    </div>
   
  

</body>
</html>
