
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" >
        
            <img>
            <div class="form">
                <h1 class="heading">asna3 compte mte3ek </h1>
                <p>marahbe bikom fi sehla mehla</p> <br><br>
                <label>esmek : <input type="text" class="input" placeholder="flen l fouleni"  name="nom"></label><br>
                <label>noumrouk : <input type="text" class="input" placeholder="98 765 432"  name="num"></label><br>
                
                <label>l mail mte3ek : <input type="mail" class="input" placeholder="abcd@gmail.com"  name="email"></label><br>
                
                <label> mot de passe mte3ek: <input type="password" class="input" placeholder="*****"  name="pass" > </label><br>
                <label>theb thot taswirtek? <input type="file" class="input"   name="photo" > </label><br>

                
                <button type="submit" class="login-button" >asna3 compte</button>
                
            </div>
        
    </div>
   
  

</body>
</html>